In [1]:
import pandas as pd

In [4]:
raw_df = pd.read_csv('masterData-2023-08-24.csv')
raw_df.head()

   symbol      label        date   open   high    low  close  adjclose
0  BEP-UN     weekly  2023-08-18  35.67  36.19  34.72  35.37     35.37
1  BEP-UN    monthly  2023-07-31  38.77  39.90  38.12  38.42     38.42
2  BEP-UN  quarterly  2023-06-30  42.69  44.13  37.89  39.06     39.06
3  BEP-UN     halfly  2023-06-30  34.96  44.13  34.74  39.06     39.06
4  BEP-UN     yearly  2022-12-30  45.32  53.09  32.58  34.28     34.28

In [10]:
df = raw_df.drop(columns=['adjclose'])
df['range'] = df['high'] - df['low']
ratios = {'10': 3.618, '9': 2.618, '8': 1.618, '7': 1.382, '6':1.118, '5':1, '76.2':.764, '4': .618, '50': .5, '3': .382, '2': .236, '1':.118}
curves = ['RC', 'FC']
columns = {'JxD': ['high', 0.5], 'BDP': ['low', 0.382], 'WDP': ['high', 0.382]}
for curve in curves:
    for ratio in ratios.keys():
        if curve == 'FC':
            columns[f"{curve}{ratio}"] = ['close', -ratios[ratio]]
        else:
            columns[f"{curve}{ratio}"] = ['close', ratios[ratio]]

In [11]:
for column in columns.keys():
    df[column] = df[columns[column][0]]+df['range']*columns[column][1]
df.head()

,symbol,label,date,open,high,low,close,range,JxD,BDP,...,FC8,FC7,FC6,FC5,FC76.2,FC4,FC50,FC3,FC2,FC1
0,BEP-UN,weekly,2023-08-18,35.67,36.19,34.72,35.37,1.47,36.925,35.28154,...,37.74846,37.40154,37.01346,36.84,36.49308,36.27846,36.105,35.93154,35.71692,35.54346
1,BEP-UN,monthly,2023-07-31,38.77,39.90,38.12,38.42,1.78,40.790,38.79996,...,41.30004,40.87996,40.41004,40.20,39.77992,39.52004,39.310,39.09996,38.84008,38.63004
2,BEP-UN,quarterly,2023-06-30,42.69,44.13,37.89,39.06,6.24,47.250,40.27368,...,49.15632,47.68368,46.03632,45.30,43.82736,42.91632,42.180,41.44368,40.53264,39.79632
3,BEP-UN,halfly,2023-06-30,34.96,44.13,34.74,39.06,9.39,48.825,38.32698,...,54.25302,52.03698,49.55802,48.45,46.23396,44.86302,43.755,42.64698,41.27604,40.16802
4,BEP-UN,yearly,2022-12-30,45.32,53.09,32.58,34.28,20.51,63.345,40.41482,...,67.46518,62.62482,57.21018,54.79,49.94964,46.95518,44.535,42.11482,39.12036,36.70018