In [1]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import datetime

apiKey = 'VH10W9NDNWI32HGL'

In [2]:
ts = TimeSeries(key=apiKey, output_format='pandas')
symbol = 'RELIANCE.BSE'
weekly, metaDataW  = ts.get_weekly_adjusted(symbol=symbol)
monthly, metaDataM = ts.get_monthly_adjusted(symbol=symbol)

In [168]:
today = pd.Timestamp.today()

dayOfTheWeek = today.day_of_week
## End of week date
weekEnd = (today + pd.DateOffset(days=-abs(dayOfTheWeek - 4))).normalize() 

## End of Month date
if (today.normalize() < (today + pd.offsets.BMonthEnd(n=0)).normalize()):
    monthEnd = (today + pd.offsets.MonthEnd(n=-1)).normalize()
else:
    monthEnd = today.normalize()

## Quarter Dates
if (today.normalize() < (today + pd.offsets.BQuarterEnd(n=0)).normalize()):
    quarterEnd = (today + pd.offsets.QuarterEnd(n=-1)).normalize()
else:
    quarterEnd = today.normalize()
quarterBegin = quarterEnd + pd.offsets.QuarterBegin(n=-1, startingMonth=1)

## Semiannual Dates

if not today.is_year_end:
    if (today.month > 6) or (today.month == 6 and today.day == 30):
        halfEnd = ((today + pd.DateOffset(months=-abs(today.month - 6))) + pd.offsets.QuarterEnd(n=0)).normalize()
        halfBegin = pd.Timestamp(datetime.date(halfEnd.year, 1, 1))
    else:
        halfEnd = (today + pd.offsets.YearEnd(n=-1)).normalize()
        halfBegin = pd.Timestamp(datetime.date(halfEnd.year, 6, 1))
else:
    halfEnd = today.normalize()
    halfBegin = pd.Timestamp(datetime.date(halfEnd.year, 6, 1))

## Annual Dates

if (today.normalize() < (today + pd.offsets.BYearEnd(n=0)).normalize()):
    yearEnd = (today + pd.offsets.YearEnd(n=-1)).normalize()
else:
    yearEnd = (today).normalize()
yearBegin = yearEnd + pd.offsets.YearBegin(n=-1)

print(f"Week:  {weekEnd}\nMonth: {monthEnd}\nQuart: {quarterBegin}\t{quarterEnd}\nHalfY: {halfBegin}\t{halfEnd}\nYear:  {yearBegin}\t{yearEnd}")

Week:  2022-09-02 00:00:00
Month: 2022-08-31 00:00:00
Quart: 2022-04-01 00:00:00	2022-06-30 00:00:00
HalfY: 2022-01-01 00:00:00	2022-06-30 00:00:00
Year:  2021-01-01 00:00:00	2021-12-31 00:00:00

In [ ]:
def getDictStandard(df, endData):
    dfData = df.loc[df.index[df.index <= endDate].max()]
    dfData.to_dict()
    df

In [212]:
weeklyData = weekly.loc[weekly.index[weekly.index <= weekEnd].max()]
weeklyDict = {'date': weekly.index[weekly.index <= weekEnd].max()}

weeklyDict.

1. open                  2570.0
2. high                  2653.3
3. low                   2525.0
4. close                 2529.8
5. adjusted close        2529.8
6. volume             2217529.0
7. dividend amount          0.0
Name: 2022-09-02 00:00:00, dtype: float64

In [174]:
monthlyData = monthly.loc[monthly.index[monthly.index <= monthEnd].max()]
monthlyData

1. open               2.513000e+03
2. high               2.677600e+03
3. low                2.507950e+03
4. close              2.639100e+03
5. adjusted close     2.639100e+03
6. volume             7.830784e+06
7. dividend amount    8.000000e+00
Name: 2022-08-30 00:00:00, dtype: float64

In [203]:
quarterly = monthly.loc[monthly.index[(monthly.index <= quarterEnd) & (monthly.index > quarterBegin)]]
quarterlyData = {'date': quarterly.index[0],
                 '1. open': quarterly['1. open'].iloc[-1],
                 '2. high': quarterly['2. high'].max(),
                 '3. low': quarterly['3. low'].min(),
                 '4. close': quarterly['4. close'].iloc[0],
                 '5. adjusted close': quarterly['5. adjusted close'].iloc[0],
                 '6. volume': quarterly['6. volume'].sum(),
                 '7. dividend amount': quarterly['7. dividend amount'].sum(),
                 }
quarterlyData

{'date': Timestamp('2022-06-30 00:00:00'),
 '1. open': 2641.3,
 '2. high': 2855.0,
 '3. low': 2370.0,
 '4. close': 2594.05,
 '5. adjusted close': 2586.2614,
 '6. volume': 19136995.0,
 '7. dividend amount': 0.0}

In [204]:
halfly = monthly.loc[monthly.index[(monthly.index <= halfEnd) & (monthly.index > halfBegin)]]
halflyData = {'date': halfly.index[0],
                 '1. open': halfly['1. open'].iloc[-1],
                 '2. high': halfly['2. high'].max(),
                 '3. low': halfly['3. low'].min(),
                 '4. close': halfly['4. close'].iloc[0],
                 '5. adjusted close': halfly['5. adjusted close'].iloc[0],
                 '6. volume': halfly['6. volume'].sum(),
                 '7. dividend amount': halfly['7. dividend amount'].sum(),
                 }
halflyData

{'date': Timestamp('2022-06-30 00:00:00'),
 '1. open': 2367.5,
 '2. high': 2855.0,
 '3. low': 2181.0,
 '4. close': 2594.05,
 '5. adjusted close': 2586.2614,
 '6. volume': 45692333.0,
 '7. dividend amount': 0.0}

In [205]:
halfly

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
date,,,,,,,
2022-06-30,2632.35,2816.35,2446.00,2594.05,2586.2614,5046878.0,0.0
2022-05-31,2755.50,2805.00,2370.00,2633.90,2625.9917,9397463.0,0.0
2022-04-29,2641.30,2855.00,2522.60,2790.80,2782.4206,4692654.0,0.0
2022-03-31,2349.10,2688.00,2181.00,2633.95,2626.0416,6526204.0,0.0
2022-02-28,2410.00,2456.00,2242.50,2359.10,2352.0168,11724907.0,0.0
2022-01-31,2367.50,2566.50,2305.05,2386.35,2379.1850,8304227.0,0.0

In [206]:
yearly = monthly.loc[monthly.index[(monthly.index <= yearEnd) & (monthly.index > yearBegin)]]
yearlyData = {'date': yearly.index[0],
                 '1. open': yearly['1. open'].iloc[-1],
                 '2. high': yearly['2. high'].max(),
                 '3. low': yearly['3. low'].min(),
                 '4. close': yearly['4. close'].iloc[0],
                 '5. adjusted close': yearly['5. adjusted close'].iloc[0],
                 '6. volume': yearly['6. volume'].sum(),
                 '7. dividend amount': yearly['7. dividend amount'].sum(),
                 }
yearlyData

{'date': Timestamp('2021-12-31 00:00:00'),
 '1. open': 1986.15,
 '2. high': 2750.0,
 '3. low': 1830.0,
 '4. close': 2368.15,
 '5. adjusted close': 2361.0396,
 '6. volume': 132569341.0,
 '7. dividend amount': 7.0}

In [207]:
yearly

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
date,,,,,,,
2021-12-31,2425.50,2496.00,2248.00,2368.15,2361.0396,6671512.0,0.0
2021-11-30,2531.20,2602.10,2309.40,2406.75,2399.5237,7724515.0,0.0
2021-10-29,2506.00,2750.00,2495.85,2537.60,2529.9809,13966442.0,0.0
2021-09-30,2275.00,2565.00,2130.00,2517.00,2509.4427,12091987.0,0.0
2021-08-31,2047.20,2283.00,2041.00,2259.30,2252.5165,5647303.0,0.0
2021-07-30,2114.10,2153.00,2016.60,2035.40,2029.2887,8584891.0,0.0
2021-06-30,2164.10,2274.50,2081.10,2110.90,2104.5620,10707303.0,7.0
2021-05-31,1963.70,2191.50,1906.50,2160.45,2147.0554,11393388.0,0.0
2021-04-30,2019.70,2046.10,1877.60,1994.45,1982.0846,10796371.0,0.0
2021-03-31,2114.45,2231.00,1973.05,2003.20,1990.7804,10190776.0,0.0
2021-02-26,1845.20,2152.25,1845.20,2083.85,2070.9303,17160448.0,0.0
2021-01-29,1986.15,2119.80,1830.00,1843.15,1831.7226,17634405.0,0.0